* {
    background-color:lightblue;
}

h1 {
    text-align: center;
}

.photo {
    position: relative;
}

.photo img {
    height: 300px;
    max-width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 1.5em;
}

.container li{
    text-align: justify;
}

.footer {
    display: grid;
    justify-content: center;
   
}

.footer a{
    text-decoration: none;
    padding: 5px;
    text-align: center;

}